
.container{
   margin: 50px auto;
   width: 500px;
   height: 700px;
   text-align: center;
   border: 3px solid rgb(9, 15, 104);
   background-image: linear-gradient(to bottom, #001936, #002855, #003675, #004696, #0055b9, #3c66cb, #5c78dd, #788aef, #a1a5f3, #c4c2f7, #e3e0fb, #ffffff);
   
}

.city-name{
   font-size: 48px;
   color: rgb(255, 255, 255);
   letter-spacing: 4px;
   font-family: monospace;
}
.temp{
   font-size: 48px;
   margin: 0 auto;
   color: rgb(255, 255, 255);
}
.weather{
font-family: cursive;
font-size: 38px;
color: lightyellow;
}
.line{
   /* border: 2px dotted rgb(6, 29, 65); */
}
#citys{
   margin: 20px 0px;
   font-size: 18px;
}
.form-control{
   color: lightyellow;
}
.button-primary{
   margin-top: 10px;
   border: none;
   color: white;
   background-color: yellowgreen;
   width: 150px;
   height: 40px;
   margin-bottom: 10px;
   cursor: pointer;
   box-shadow: 2px 3px #999;
}
ul{
   padding-inline-start: 0;
   
}
ul li{
   list-style: none;
   margin-bottom: 30px;
   font-family: cursive;
   font-size: 28px;
}
